@import "~bootstrap/scss/bootstrap";
@import "custom";

.mainContainer {
    width: 60%;
    margin-top: 10%;
}

.formRow {
    margin-bottom: $spacing;
}

#inputUserName {
    width: 200px;
}

#inputDays {
    width: 50px;
}

#header {
    margin-bottom: 100px;
}

.preview {
    background-color: black;
    color: #f90;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10em;
    padding: 50px;
    position: relative;
    float: left;
}

.avatar {
    margin-right: 1em;
    height: 60px;
    width: 60px;
    margin-right: 1em;
    position: relative;
    float: left;
}

.avatar img {
    height: 60px;
    width: 60px;
}

.date::before {
    background: url(../assets/redesign-stream-ui.png) -4px -4px no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    content: '';
    margin-right: 3px;
}

.date {
    font-size: 12px;
    color: rgb(80, 80, 80);
    position: relative;
    float: left;
    margin-left: 2%;
}

.userName {
    color: rgb(255, 153, 0);
    font-size: 1.25em;
    position: relative;
    float: left;
}

.comment {
    color: rgb(184, 184, 184);
    float: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 560px;
}